<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Kontak
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="start" name="search"></ion-icon> 
        Telunsuri
      </ion-button>
    </ion-buttons>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-list>
      <ion-item-sliding *ngFor="let item of contacts">

    <ion-item>
      <ion-icon color="primary" slot="start" name="person-circle-outline"></ion-icon>
      <ion-label class="ion-actovatable">
        <h2> {{ item.name }} </h2>
        <p> {{ item.telp }} </p>
        <p> {{ item.email }} </p>
        <ion-ripple-effect type="bounded"></ion-ripple-effect>
      </ion-label>
    </ion-item>
    <ion-item-option side="end">
      <ion-item-option color="warning">Berbintang</ion-item-option>
      <ion-item-option color="danger">Hapus</ion-item-option>
    </ion-item-option>

      </ion-item-sliding>
  </ion-list>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
